body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--page-background-color);
}

:root {
    --page-background-color: #FFFFFF;
}

:root {
    --brand-color: #4D5AE5;
}

:root {
    --heading-color: #2E2F42;
}

:root {
    --address-color: #434455;
}

:root {
    --font-size: 16px;
}

.button-item:hover {
    background-color: #404BBF;
}

.button-item:active,
.button-item:focus {
    background-color: var(--brand-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    color: var(--heading-color);
}

.page-nav .nav-link:hover {
    color: #404BBF;
}

.nav-link:active,
.nav-link:focus {
    color: #404BBF;
}

.address {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    font-style: normal;
    color: var(--address-color);
}

.address:hover {
    color: #404BBF;
}

.address:active,
.address:focus {
    color: #404BBF;
}

.main-block {
    background-color: var(--heading-color);
}

.hero {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--brand-color);
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-color-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #f4f4fd;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-color {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--heading-color);
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.button:hover {
    background-color: #404BBF;
}

.button:active,
.button:focus {
    background-color: #404BBF;
}

.button-item {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color);
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    cursor: pointer;
}

.button-item:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-item:active,
.button-item:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.about-us .section-heading {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}

.about-us .text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--heading-color);
}

.team-block {
    background-color: #F4F4FD;
}

.employees .name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}

.employees .details {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.card {
    background-color: var(--page-background-color);
}

.portfolio-images .name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--heading-color);
}

.portfolio-images .details {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color: var(--heading-color);
}

.text-footer {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
}