body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.page-nav {
    list-style-type: none;
}

.buttons {
    list-style-type: none;
}

.button-item:hover {
    background-color: #404BBF;
}

.button-item:active,
.button-item:focus {
    background-color: #4D5AE5;
}

.about-us {
    list-style-type: none;
}

.images-studio {
    list-style-type: none;
}

.employees {
    list-style-type: none;
}

.portfolio-images {
    list-style-type: none;
}

.page-nav .nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
}

.page-nav .nav-link:hover {
    color: #2E2F42;
}

.page-nav .nav-link:active,
.page-nav .nav-link:focus {
    color: #404BBF;
}

.page-nav .address {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.page-nav .address:hover {
    color: #2E2F42;
}

.page-nav .address:active,
.page-nav .address:focus {
    color: #404BBF;
}

.hero {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #2E2F42;
    text-transform: uppercase;
}

.logo-color {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #4D5AE5;
    text-transform: uppercase;
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.button:hover {
    background-color: #404BBF;
}

.button:active,
.button:focus {
    background-color: #4D5AE5;
}

.button-item {
    color: #4D5AE5;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    background-color: #E7E9FC;
    cursor: pointer;
}

.about-us .section-heading {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
}

.about-us .text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #2E2F42;
}

.employees .name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
}

.employees .details {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.portfolio-images .name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
}

.portfolio-images .details {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.text-footer {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    background-color: #2E2F42;
}